@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&#039');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Barlow Semi Condensed;
    height: 130vh;
    padding: 100px 80px 100px 80px;
    background-color: rgb(237, 242, 248);
    overflow: scroll;
}
main{
    height:100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 34px;
}
.profile1{
    background-color: rgb(115, 63, 200);
    grid-column: 1/3;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    justify-content: center;
    border-radius: 8px;
    
}
.profile2{
    background-color: rgb(73, 85, 107);
    padding: 2.5rem;
     display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    justify-content: center;
    border-radius: 8px;
}
.profile3{
    background-color: rgb(255, 255, 255);
    grid-column: 4/5;
    grid-row: 1/3;
    padding: 1.5rem 2.5rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    justify-content: center;
    border-radius: 8px;
}
.profile4{
    background-color: rgb(255, 255, 255);
    padding: 0rem 2.5rem 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    justify-content: center;
    border-radius: 8px;
}
.profile5{
    background-color: rgb(24, 32, 45);
    grid-column: 2/4;
    padding: 0rem 2.5rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
    justify-content: center;
    border-radius: 8px;
}
.imgs{
    width: 48px;
    height: 48px;
    border-radius: 100px;
    
}
.bakhsh1 div:nth-child(2) span{
font-size: 16px;
color:rgb(255, 255,255) ;
}
.bakhsh1 div:nth-child(2) p{
font-size: 12px;
color:rgb(229, 231, 235) ;
}

.bakhsh1{
     display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}
.img{
    position: absolute;
    right:38px;
    top: 0;
}
.bakhsh2 p{
    font-size: 20px;
color:rgb(255, 255,255) ;
font-weight: bolder;

}
.bakhsh3 p{
 font-size:16px;
color:rgb(229, 231, 235);
line-height: 24px;
margin-top: 10px;
}
.bakhsh4 div:nth-child(2) span{
font-size: 16px;
color:rgb(71, 85, 105) ;
}
.bakhsh4 div:nth-child(2) p{
font-size: 12px;
color:rgb(100, 116, 139);
}

.bakhsh4{
     display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}
.bakhsh5 p{
    font-size: 20px;
color:rgb(71, 85, 105);
font-weight: bolder;

}
.bakhsh6 p{
 font-size:16px;
color:rgb(100, 116, 139);
line-height: 24px;
margin-top: 10px;
}

